@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

@font-face {
  font-family: "Arual";
  src: url("../fontes/Arual.ttf");
}

body, * {
  margin: 0;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media (min-width : 480px) and (orientation: landscape){
  .itens-menu{
    height: 30vh;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

.titulo-pagina {
  color: #000000;
  font-family: "Arual";
  font-size: 80px;
  font-weight: 600;
  text-decoration: none;
}

.topo {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c2c2c2;

}

.item-menu {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #000000;
}

.item-menu:hover {
  color: #4d4d4d;
}

.post {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.titulo-post {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 5px;
}

.titulo-post:hover {
  color: #4d4d4d;
}

.post header {
  margin-bottom: 10px;
}

.post p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post h2{
  margin-top: 30px;
}

.post ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

.data {
  font-size: 15px;
}

#rodape {
  width: 70%;
  padding-top: 30px;
  height: 10vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

pre {
  overflow: auto;
  background-color: #e8e8e8;
  padding: 10px;
  border:1px solid #757575;
  margin-top: 20px;
  margin-bottom: 20px;
}

code {
  overflow: scroll;
}

.img-logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.img-logo img{
  border-radius: 50%;
  width: 40%;
}

#tags {
  display: block;
}

.tag {
  font-family: "Open Sans";
  text-decoration: none;
  color: black;
}

.box-tag {
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-size: 20px;

}

.tag-link {
  padding: 5px;
  color: black;
  border: 2px solid black;
  text-decoration: none;
}

#contador {
  color: white;
  background-color: black;
  padding: 2px;
  border: 1px solid black;
  border-radius: 10%;
}

#contador:hover {
  color: black;
  background-color: white;
}


#icon {
  margin-left: 20px;

}
